<div class="section">
  <div class="content">
    <div class="row">
      <div class="col">
        <div class="tile u-items-center mb-3" *ngFor="let user of users$ | async">
          <div class="tile__icon">
            <figure class="avatar bg-gray-200">
              <img [src]="getImage(user)" alt="img-stretch" (error)="getDefaultImage($event)" height="100" width="100" />
            </figure>
          </div>
          <div class="tile__container">
            <p class="tile__title m-0">{{ user.name | titlecase }}</p>
            <p class="tile__subtitle m-0">
              <span class="icon">
                <i class="far fa-wrapper fa-envelope" aria-hidden="true"></i>
              </span>
              <small>{{ user.email }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
